@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background: #011627 50%;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;
    }
        
    .menu li + li {
        margin-top: 12px;
     }
        
    input[type=checkbox]:checked ~ .menu{
        display: block;
    }
        
    .hamburger {
        display: block;
    }
        
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
}